

.pokemon-container {
    display: flex;
    justify-content: space-between;
    margin: auto 35px;
}

body form {
    margin: 50px auto;
    text-align: center;
}

.pokemon-details {
    border: 1px solid #ccc;
    padding: 10px;
    width: 45%;
}

.pokemon-name{
    font-size: 30px;
    margin-bottom: 15px;
}

.pokemon-details-sprites img {
    scale: 1.2;
}

.pokemon-details-sprites{
    border: 1px solid #ccc;
    display: flex;
    justify-content: space-around;
}

.pokemon-details-ab{
    display: flex;
    border: 1px solid #ccc;
    padding: 10px;
    align-items: center;
}
.pokemon-details-type{
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
}
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root {
    --white: #ffffff;
    --light-grey: #edf0f1;
    --violet: #655be1;
    --dark-violet: #5146e1;
    --black: #21232a;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}
